html {
    background-color: #E5E8E5;
}
div {
    position: relative;
}

.fullscreen{
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: absolute;
    top:0;
    left:0;
}
.bord1 {
    background-color: #86A1BC;
    width: 1150px;
    height: 10px;
    top: 50px;
    left: 175px;
}
.bord2 {
    background-color: #86A1BC;
    width: 10px;
    height: 950px;
    left: 165px;
    top: 40px;
}
.bord3 {
    background-color: #86A1BC;
    width: 10px;
    height: 950px;
    left: 1320px;
    top: -910px;
}
.bord4 {
    background-color: #86A1BC;
    width: 1165px;
    height: 10px;
    top: -910px;
    left: 165px;
}
.gallery {
    background-color: #86A1BC;
    width: 1100px;
    height: 900px;
    left: 198px;
    top: -1840px;

}
img {
    position: relative;
}
.img1{    
    width: 270px;
    height: 300px;   
    left: 10px;
    top: -300px;
}

.img2{   
    width: 275px;
    height: 610px;    
    left: 20px;
    top: 10px;
}
 
.img3{
    width: 505px;
    height: 300px;
    left: 30px;
    top: -300px;
}
.img4{  
    width: 269px;
    height: 301px;
    left: 10px;
    top: -295px;
}
.img5{
    width: 230px;
    height: 300px;
    top: -295px;
    left: 310px;
}
.img6{
    width: 265px;
    height: 300px;
    left: 315px;
    top: -295px;
}
.img7{
     
    width: 270px;
    height: 260px;
    left: -765px;
    top: -25px;
}
.img8{
    width: 275px;
    height: 260px;
    top: -289px;
    left: 290px;
}
.img9{
    width: 505px;
    height: 260px;
    left: 305px;
    top: -290px;
}
.footer {
    background-color: #86A1BC;
    width: 1150px;
    height: 50px;
    top: -1725px;
    left: 170px;;
}
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.lightbox-img {
    max-width: 90%;
    max-height: 80%;
    object-fit: contain; /* Ensure aspect ratio is maintained without cropping */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
    margin: auto; 
}


.lightbox-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 10px 15px;
    font-size: 24px; 
    color: #fff;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.lightbox-nav:hover {
    background-color: rgba(0, 0, 0, 0.9); 
}
